   <!-- Navigation -->
    <nav class="navbar fixed-top navbar-light navbar-expand-md">
        <a class="navbar-brand" href="#page-top">{{ site.title }}</a>
        <!-- Brand and toggle get grouped for better mobile display -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item page-scroll">
                    <a class="nav-link" href="../#page-top">Home</a>
                </li>
                 <li class="nav-item page-scroll">
                    <a class="nav-link" href="../#research">Research</a>
                </li>
                <li class="nav-item page-scroll">
                    <a class="nav-link" href="../#people">People</a>
                </li>
                <li class="nav-item page-scroll">
                    <a class="nav-link" href="../#publication">Publication</a>
                </li>
            </ul>
        </div>
    </nav>
