 <!-- News Section -->
<section class="dark" id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>News</h2>
                <hr class="star-light">
            </div>
        </div>
        
        <div class="row-fluid pub">

	<p>
		<!-- MLSYS 2 -->
<!-- MLSys 1 -->
<!-- Cognify -->

	<div class="span1">
	Jan 2026
	</div>
	<div class="span8 text-wrap">
	<b><a target="_blank" href="https://arxiv.org/abs/2506.16042">OSWorld-Human: Benchmarking the Efficiency of Computer-Use Agents</a></b>  Accepted to MLSys '26
	</p>
	<div class="span1">
	Jan 2026
	</div>
	<div class="span8 text-wrap">
	<b><a target="_blank" href="https://arxiv.org/abs/2511.13841"> Beat the long tail: Distribution-Aware Speculative Decoding for RL Training </a></b>  Accepted to MLSys '26
	</p>
	

	<div class="span1">
	Dec 2025
	</div>
	<div class="span8 text-wrap">
	<b><a target="_blank" href="https://neurips.cc/virtual/2025/loc/san-diego/129118">  FarSight: Deep-Learning-Driven Prefetching for Far Memory </a></b>  Accepted to Nuerips '25 Workshop
	</p>

	<div class="span1">
	Dec 2025
	</div>
	<div class="span8 text-wrap">
	<b><a target="_blank" href=" https://neurips.cc/virtual/2025/loc/san-diego/126694"> Demystifying Delays in Reasoning: A Pilot Temporal
and Token Analysis of Reasoning Systems </a></b>  Accepted to Nuerips '25 Workshop
	</p>

	<div class="span1">
	August 2025
	</div>
	<div class="span8 text-wrap">
	<b><a target="_blank" href="https://arxiv.org/abs/2502.08056">  Cognify: Supercharging Gen-AI Workflows With Hierarchical Autotuning </a></b>  Accepted to KDD '25
	</p>
	

	<div class="span1">
	April 2025
	</div>
	<div class="span8 text-wrap">
	<b><a target="_blank" href="https://arxiv.org/abs/2407.00023">Preble: Efficient Distributed Prompt Scheduling for LLM Serving</a></b>  Accepted to ICLR '25
	</p>
		
	<div class="span1">
	 April 2025
	</div>
	<div class="span8 text-wrap">
	<b><a target="_blank" href="https://arxiv.org/abs/2109.07744">Portable and High-Performance SmartNIC Programs with Alkali</a></b> Accepted to NSDI '25
	</p>


	<div class="span1">
	June 2024
	</div>
	<div class="span8 text-wrap">
	<b><a target="_blank" href="https://arxiv.org/abs/2109.07744">INFERCEPT: Efficient Intercept Support for Augmented Large Language Model Inference </a></b>  Accepted to ICML 24
	</p>

	<div class="span1">
	Mar 2024
	</div>
	<div class="span8 text-wrap">
	<b><a target="_blank" href="https://arxiv.org/abs/2109.07744">SuperNIC</a></b> (multi-tenant FPGA-based SmartNIC) won the Best Paper Runner-Up Award at FPGA 2024
	</p>

	<p>
	<div class="span1">
	Feb 2024
	</div>
	<div class="span8 text-wrap">
	Check out our LLM serving system targeting API calling: <b><a target="_blank" href="https://arxiv.org/abs/2402.01869">APIServe</a></b>
	</p>

	<p>
	<div class="span1">
	Sep 2023
	</div>
	<div class="span8 text-wrap">
	Three new PhD students joined WukLab: Reyna Abhyankar, Zijian He, Vikranth Srivatsa. Welcome!
	</div>
	</p>

	<p>
	<div class="span1">
	Jul 2023
	</div>
	<div class="span8 text-wrap">
	<b><a target="_blank" href="https://cseweb.ucsd.edu/~yiying/Mira-SOSP23.pdf">Mira</a></b> (PL for disaggregation) accepted to SOSP'23.
	</div>
	</p>


        </div>

    </div>
</section>
