 <!-- News Section -->
<section class="dark" id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>News</h2>
                <hr class="star-primary">
            </div>
        </div>
        
        <div class="row-fluid pub">

	<p>
	<div class="span1">
	Mar 2024
	</div>
	</p>
	<p>
	<div class="span8 text-wrap">
	<b><a target="_blank" href="https://arxiv.org/pdf/2109.07744.pdf">SuperNIC</a></b>won the Best Paper Runner-Up Award at FPGA 2024
	</p>

	<p>
	<div class="span1">
	Feb 2024
	</div>
	</p>
	<p>
	<div class="span8 text-wrap">
	Check out our LLM serving system targeting API calling: <b><a target="_blank" href="https://arxiv.org/abs/2402.01869">APIServe</a></b>
	</p>

	<p>
	<div class="span1">
	Sep 2023
	</div>
	</p>
	<p>
	<div class="span8 text-wrap">
	Three new PhD students joined WukLab: Reyna Abhyankar, Zijian He, Vikranth Srivatsa. Welcome!
	</div>
	</p>
	<br>

	<p>
	<div class="span1">
	Jul 2023
	</div>
	</p>
	<p>
	<div class="span8 text-wrap">
	<b><a target="_blank" href="https://cseweb.ucsd.edu/~yiying/Mira-SOSP23.pdf">Mira</a></b> (PL for disaggregation) accepted to SOSP'23.
	</div>
	</p>
	<br>



        </div>

    </div>
</section>
