    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <img class="img-responsive" src="img/profile.png" alt=""> -->
                    <div class="part-intro-text">
					<style scoped>
						p{ font-size:1em }
					</style>
                        {% if headline %}
                            <span class="name">{{ headline }}</span>
                        {% else %}
                            <span class="name">{{ site.title }}</span>
                        {% endif %}

                        <hr class="star-light">

                        {% if summary %}
                        <span class="skills">{{ summary }}</span>
                        {% else %}
                        <span class="skills">{{ site.skills }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
