<!-- This sections is about members in wuklab -->

<section class="dark" id="people">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Member</h2>
                <hr class="star-light">
            </div>
        </div>

        <div class="row">
        {% for type in site.data.people %}
         <div class="col">
            <div class="w-100 px-3">
                <h4>{{ type.name }}</h3>
            </div>

            <!-- Generate link or div -->
            {% for person in type.members %}
              <div class="col col-4 px-1">

                <img class="img-fluid" src="{{ person.imageFile | prepend: 'img/member/' }}">

                <h6 class="my-2"> {% if person.link %} <a target="_blank" href="{{ person.link }}" class="stretched-link">{% endif %}{{ person.name }}{% if person.link %}</a>{% endif %}</h5>
              </div>

            {% endfor %}
        </div>
        {% endfor %}
        </div>

    </div>
</section>
