 <!-- Contact Section -->
<section id="publication">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                {% if tag %}
                <h3>Related Publication</h3>
                <hr/>
                {% else %}
                <h2>Publication</h2>
                <hr class="star-primary">
                {% endif %}
            </div>
        </div>
        
        <div class="row-fluid pub">

        {% for type in site.data.publications %}

        {% if tag %}
            {% assign pubs = type.entries | where_exp: 'p', 'p.tag contains tag' %}
        {% else %}
            {% assign pubs = type.entries %}
        {% endif %}

        {% if pubs.size != 0 %}
        <h3>{{ type.name }}</h3> 

            {% for pub in pubs %}
            <!-- generate a publication entry from object -->
            <p>
                <b><a target="_blank" href="{{ pub.link }}">{{ pub.title }}</a></b>
                <br/>{{ pub.author }}
                <br/><i>
                    {% if pub.journal %}<b>{{ pub.journal }}</b>{% endif %}
                    {% if pub.conference %}{{ pub.conference }}{% endif %}
                    {% if pub.abbreviation %}<b>({{ pub.abbreviation }})</b>{% endif %}
                </i>
                {% if pub.misc %}<span>{{ pub.misc }}</span>{% endif %}
                {% if pub.comment %}({{ pub.comment }}){% endif %}
                {% if pub.highlight %}(<font color="red"><b>{{ pub.highlight }}</b></font>){% endif %}
            </p>
            {% endfor %}

        {% endif %}
        {% endfor %}

        </div>

    </div>
</section>
