 <!-- Contact Section -->
    <section id="publication">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Publication</h2>
                    <hr class="star-primary">
                </div>
            </div>
            
			<div class="row-fluid">

    <!--<h4>Selected Publications</h4> -->

    <h4>Conferences and Journals</h4> 

    <p>
    <b><a target="_blank" href="LearnedOS-OSR19.pdf">"Learned" Operating Systems</a></b>
<br>
Yiying Zhang, Yutong Huang
<br>
<i><b>ACM SIGOPS Operating Systems Review</b> 53(1): 40-45 (2019)</i>

    <p>
    <b><a target="_blank" href="Pythia.pdf">Pythia: Remote Oracles for the Masses</a></b>
<br>
Shin-Yeh Tsai, Mathias Payer, Yiying Zhang
    <br>
    <i>Proceedings of the 28th USENIX Security Symposium (<b>USENIX SEC '19</b>)</i>
    </p>

    <p>
    <b><a target="_blank" href="https://arxiv.org/abs/1902.02411">Storm: A Fast Transactional Dataplane for Remote Data Structures</a></b>
<br>
Stanko Novakovic, Yizhou Shan, Aasheesh Kolli, Michael Cui, Yiying Zhang, Haggai Eran, Liran Liss, Michael Wei, Dan Tsafrir, Marcos Aguilera
    <br>
    <i>Proceedings of the 12th ACM International Systems and Storage Conference (<b>SYSTOR '19 </b>)</i> (<font color="red"><b>Best Paper Award</b></font>)
    </p>

    <p>
     <b><a target="_blank" href="GoStudy-ASPLOS19.pdf">Understanding Real-World Concurrency Bugs in Go</a></b>
     <br>
     Tengfei Tu, Xiaoyu Liu, Linhai Song, Yiying Zhang
    <br>
    <i>Proceedings of the 24th International Conference on Architectural Support for Programming Languages and Operating Systems (<b>ASPLOS '19</b>)</i>
    </p>

    <p>
    <b><a target="_blank" href="LegoOS-OSDI18.pdf">LegoOS: A Disaggregated, Distributed OS for Hardware Resource Disaggregation</a></b>
<br>
Yizhou Shan, Yutong Huang, Yilun Chen, Yiying Zhang
    <br>
    <i>Proceedings of the 13th USENIX Symposium on Operating Systems Design and Implementation (<b>OSDI '18</b>)</i> (<font color="red"><b>Best Paper Award</b></font>)
    </p>

    <p>
    <b><a target="_blank" href="LITE-sosp17.pdf">LITE Kernel RDMA Support for Datacenter Applications</a></b>
<br>
Shin-Yeh Tsai, Yiying Zhang
    <br>
    <i>Proceedings of the 26th ACM Symposium on Operating Systems Principles (<b>SOSP '17</b>)</i>
    </p>

    <p>
    <b><a href="hotpot-socc17.pdf">Distributed Shared Persistent Memory</a></b>
<br>
Yizhou Shan, Shin-Yeh Tsai, Yiying Zhang
    <br>
    <i>Proceedings of the ACM Symposium on Cloud Computing 2017 (<b>SoCC '17</b>)</i>
    </p>

    <p>
    <b><a target="_blank" href="nvmmstudy-msst15.pdf">A Study of Application Performance with Non-Volatile Main Memory</a></b>
<br>
Yiying Zhang, Steven Swanson
    <br>
    <i>Proceedings of the 31st IEEE Conference on Massive Data Storage (<b>MSST '15</b>)</i>
    </p>

    <p>
    <b><a target="_blank" href="mojim-asplos15.pdf">Mojim: A Reliable and Highly-Available Non-Volatile Memory System</a></b>
<br>
Yiying Zhang,
Jian Yang, Amirsaman Memaripour, Steven Swanson
    <br>
    <i>Proceedings of the 20th International Conference on Architectural Support for Programming Languages and Operating Systems (<b>ASPLOS '15</b>)</i>
    </p>

    <hr>
    <h4>Workshops, Posters, and Tech Reports</h4> 

    <p>
    <b><a target="_blank" href="one-sided-security.pdf">A Double-Edged Sword: Security Threats and Opportunities in One-Sided Network Communication</a></b>
<br>
Shin-Yeh Tsai, Yiying Zhang
    <br>
    <i>To appear at the 11th USENIX Workshop on Hot Topics in Cloud Computing (<b>HotCloud '19</b>)</i>
    </p>

    <p>
    <b><a href="">Challenges in Building and Deploying Disaggregated Persistent Memory</a></b>
<br>
Yizhou Shan, Yutong Huang, Yiying Zhang
    <br>
    <i>to appear at the 9th Annual Non-Volatile Memories Workshop (<b>NVMW '19</b>)</i>
    </p>

    <p>
    <b><a href="">Building Atomic, Crash-Consistent Data Stores with Disaggregated Persistent Memory</a></b>
<br>
Shin-Yeh Tsai, Yiying Zhang
    <br>
    <i>to appear at the 9th Annual Non-Volatile Memories Workshop (<b>NVMW '19</b>)</i>
    </p>

<p>
     <b><a href="">Understanding Real-World Concurrency Bugs in Go</a></b>
     <br>
     Tengfei Tu, Xiaoyu Liu, Linhai Song, Yiying Zhang
     <br>
    <i>Posterr at the 13th USENIX Symposium on Operating Systems Design and Implementation (<b>OSDI '18</b>)</i>
     </p>

    <p>
    <b><a target="_blank" href="">Disaggregating Memory with Software-Managed Virtual Cache</a></b>
<br>
Yizhou Shan, Yiying Zhang
    <br>
    <i>the 2018 Workshop on Warehouse-scale Memory Systems (<b>WAMS '18</b>)</i> (co-located with ASPLOS '18)
    </p>

    <p>
    <b><a target="_blank" href="">MemAlbum: an Object-Based Remote Software Transactional Memory System</a></b>
<br>
Shin-Yeh Tsai, Yiying Zhang
    <br>
    <i>the 2018 Workshop on Warehouse-scale Memory Systems (<b>WAMS '18</b>)</i> (co-located with ASPLOS '18)
    </p>

    <p>
    <b><a target="_blank" href="">Split Container: Running Containers beyond Physical Machine Boundaries</a></b>
<br>
Yilun Chen, Yiying Zhang
    <br>
    <i>the 2018 Workshop on Warehouse-scale Memory Systems (<b>WAMS '18</b>)</i> (co-located with ASPLOS '18)
    </p>

    <p>
    <b><a target="_blank" href="http://nvmw.ucsd.edu/nvmw18-program/unzip/current/nvmw2018-final19.pdf">Distributed Shared Persistent Memory</a></b>
<br>
Yizhou Shan, Shin-Yeh Tsai, Yiying Zhang
    <br>
    <i>the 9th Annual Non-Volatile Memories Workshop (<b>NVMW '18</b>)</i>
    </p>


<p>
     <b><a href="">Lego: A Distributed, Decomposed OS for Resource Disaggregation</a></b>
     <br>
     Yizhou Shan, Yilun Chen, Yutong Huang, Sumukh Hallymysore, Yiying Zhang
     <br>
     <i>Poster at the 26th ACM Symposium on Operating Systems Principles (<b>SOSP '17</b>)</i>
     </p>

<p>
     <b><a href="">Disaggregated Operating System</a></b>
     <br>
     Yizhou Shan, Sumukh Hallymysore, Yutong Huang, Yilun Chen, Yiying Zhang
     <br>
     <i>Poster at the ACM Symposium on Cloud Computing 2017 (<b>SoCC '17</b>)</i>
     </p>

<p>
     <b><a href="http://hpts.ws/papers/2017/lego.pdf">Disaggregated Operating System</a></b>
     <br>
     Yiying Zhang, Yizhou Shan, Sumukh Hallymysore
     <br>
     <i>the 17th International Workshop on High Performance Transaction Systems (<b>HPTS '17</b>)</i>
     </p>

<p>
     <b><a href="FAST16-Rockies.pdf">Rockies: A Network System for Future Data Center Racks</a></b>
     <br>
     Shin-Yeh Tsai, Linzhe Li, Yiying Zhang
     <br>
     <i>WIP and Poster at the 14th USENIX Conference on File and Storage Technologies (<b>FAST '16</b>)</i>
     </p>

        </div>

        </div>
    </section>
