<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
        {% capture headline %}{{ page.title }}{% endcapture %}
        {% capture summary %}{{ page.summary }}{% endcapture %}
        {% include nav.html %}
        <main role="main">
            <section>
                {% include header.html %}
                <section>
                    <div class="container">
                        {{ content }}
                    </div>
                </section>
            </section>
            {% include footer.html %}
        </main>
        {% include js.html %}
    </body>
</html>
